[submodule "dsp/external/allolib"]
	path = dsp/external/allolib
	url = https://github.com/AlloSphere-Research-Group/allolib.git
[submodule "dsp/external/libsamplerate"]
	path = dsp/external/libsamplerate
	url = https://github.com/erikd/libsamplerate.git
[submodule "dsp/external/al_ext"]
	path = dsp/external/al_ext
	url = https://github.com/AlloSphere-Research-Group/al_ext
[submodule "al_ext"]
	path = al_ext
	url = https://github.com/AlloSphere-Research-Group/al_ext
[submodule "dsp/external/nativefiledialog"]
	path = dsp/external/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot
[submodule "dsp/external/implot"]
	path = dsp/external/implot
	url = https://github.com/epezent/implot
