[submodule "ecSource/external/allolib"]
path = ecSource/external/allolib
url = https://github.com/AlloSphere-Reseach-Group/allolib.git
[submodule "ecSource/external/libsamplerate"]
path = ecSource/external/libsamplerate
url = https://github.com/erikd/libsamplerate.git
[submodule "ecSource/external/al_ext"]
path = ecSource/external/al_ext
url = https://github.com/AlloSphere-Research-Group/al_ext
