*.dmg
deployment/Linux/*
deployment/OSX/*
deployment/Windows/*
ec_2019/
bin/
build/
.DS_STORE
imgui.ini
*.aiff
*.wav
!externalResources/samples/*.aiff
!externalResources/samples/*.wav
*.o
.vscode/
sc/
valgrind-output.txt
